<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Surfer Compet | Edit</title>
    <link rel="icon" href="/assets/favicon.png">
    <script src="https://kit.fontawesome.com/8f45faa16b.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/assets/style.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> 
</head>
<body>
		
	<!-- start navbar  -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="/">SurFerCompet</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/add">New competitor</a></li>
            </ul>
          </div>
        </div>
      </nav>
	<!-- end navbar  -->

	<!-- start content -->
	<div class="container">
		<h1 class="text-center">Modify competitor information </h1>
		<div class="row">
			<form class="col-sm-6" action="/edit/<%= planch.ID %>" method="POST">

				<div class="form-group">
					<label for="image">Image</label>
					<input type="text" class="form-control input-lg" id="Image" placeholder="Upload your photo" name="Image" value="<%= planch.image %>"/>
				</div>
	
				<div class="form-group">
					<label for="name">Name</label>
					<input type="text"class="form-control input-lg" placeholder="Your name" id="name" name="name" value="<%= planch.name %>"/>
				</div>
				
				<div class="form-group">
					<label for="ville">city</label>
					<input type="text" class="form-control input-lg" id="ville" name="ville" value="<%= planch.ville %>" placeholder="Your city"/>
				</div>
				
				<div class="form-group">
					<label for="typeOfSurf">Type of Surfing</label>
					<input type="text"class="form-control input-lg" id="typeOfSurf" name="typeOfSurf" placeholder="Add Your Type of Surfing" value="<%= planch.typeOfSurf %>"/>
				</div>
				
				<button type="submit" class="btn btn-primary">Edit competitor</button>
			</form>
			<img  class="col-sm-6" src="/assets/img1.png">
		</div>
	</div>
	<!-- end content -->
	<!-- footer  -->
	<footer class="container-fluid">
		<div class="container">
			<div class="d-flex justify-content-between bg-secondary mb-3" style="justify-content: space-between; display: flex; flex-wrap: wrap;">
				<p class="p-2 col"> Copyright 2020 ©, YouCode - All Rights Reserved. </p>
				<div class="p-2 col">
					<i class="fa fa-whatsapp" aria-hidden="true"></i>
					<i class="fa fa-facebook" aria-hidden="true"></i>
					<i class="fa fa-instagram" aria-hidden="true"></i>
					<i class="fa fa-youtube" aria-hidden="true"></i>
					<i class="fa fa-twitter" aria-hidden="true"></i>
				</div>
			</div>
		</div>
	</footer>
	
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>
