<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Surf Compet</title>
    <link rel="icon" href="/assets/favicon.png">
    <script src="https://kit.fontawesome.com/8f45faa16b.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/assets/style.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> 
</head>
<body>
    <!-- start navbar  -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="/">SurfCompet</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/add">New competitor</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
              <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
          </div>
        </div>
      </nav>
    <!-- end navbar  -->
    
    <!-- start contenu  -->
    <div class="container">
        <div class="gif"">

        </div>
        <div class="container text-center justify-content-center mt-5">
            <h3 style="margin-bottom: 50px;">List of candidates</h3>
            <div class="row bg-info">
                    <% planch.forEach(p => { %>
            
                    <div class="card col-sm-3 mt-2" style="margin: 25px 0;">

                        <a href="/edit/<%= p.ID %>" style="color: white">
                            <i class="fas fa-edit" style="color: green;font-size: 20px;"></i>
                        </a>

                        <img src="<%= p.image %>"  style="width:40%; border-radius: 50%;">

                        <a href="/delete/<%= p.ID %>" style="color: white" onclick="return confirm('Competitor has been deleted')">
                            <i class="fas fa-window-close" style="font-size: 20px; color: red;"></i>
                        </a>

                        <div class="card-body">
                            <h4 class="card-title"><%= p.name %></h4>
                            <p class="card-text"><%= p.ville %></p>
                            <p class="card-text" style="font-weight: bold;"><%= p.typeOfSurf %> </p>
                        </div>
                    
                    </div>
                    <% }) %>
                    
                </div>	
            </div>
            
        </div>	
    </div>
    <!-- end contenu  -->
    <!-- footer  -->
	<footer class="container-fluid">
		<div class="container">
			<div class="d-flex justify-content-between bg-secondary mb-3" style="justify-content: space-between; display: flex; flex-wrap: wrap;">
				<p class="p-2 col"> Copyright 2020 ©, YouCode - All Rights Reserved. </p>
				<div class="p-2 col">
					<i class="fa fa-whatsapp" aria-hidden="true"></i>
					<i class="fa fa-facebook" aria-hidden="true"></i>
					<i class="fa fa-instagram" aria-hidden="true"></i>
					<i class="fa fa-youtube" aria-hidden="true"></i>
					<i class="fa fa-twitter" aria-hidden="true"></i>
				</div>
			</div>
		</div>
	</footer>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
